<!-- views/dashboard.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
<h1>Добро пожаловать, <%= user.username %>!</h1>
<a href="/logout">Выйти</a>
<a href="/create-workspace">Создать новое рабочее пространство</a>
<a href="/workspaces">Все рабочие простарнства</a>

</body>
</html>
